@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Roboto/Roboto-Regular.ttf) format('ttf');
  }
@font-face {
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 600;
    src: local('Roboto'), local('Roboto-Bold'), url(../fonts/Roboto/Roboto-Bold.ttf) format('ttf');
  }
  