/* Diseño o presentación */
#login-form {
    box-sizing: border-box;
}

.container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.form-border {
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 20px;
}

body {
    background-color: lightgray;
    font-family: 'Roboto';
}

.text-center {
    text-align: center;
}

.form-control {
    /* display: block; */
    margin-bottom: 10px;
}

.form-control label {
    display: block;
    font-weight: bold;
}

.form-control input[type=text], .form-control input[type=password] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid lightgray;
    /* padding: top right bottom left; */
    /* padding: top right-left bottom; */
    /* padding: top-bottom right-left; */
    /* padding: all; */
    padding: 5px 10px;
    border-radius: 5px;
}

.small {
    font-size: 0.8em;
}

button.form-control {
    width: 100%;
    border: 1px solid lightgray;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 0.9em;
    border-radius: 5px;
}

/* input[type=text].form-control, input[type=password].form-control, button.form-control  {
    box-sizing: border-box;
    width: 100%;
} */

.form-control-error {
    border-color: red;
    box-shadow: 0 0 3px red;
}

.form-control-success {
    border-color: darkgreen !important;
    box-shadow: 0 0 3px darkgreen !important;
}