/* Diseño o presentación */
#login-form {
    /* width: 320px;
    margin-left: auto;
    margin-right: auto; */
    box-sizing: border-box;
}

.container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.form-border {
    padding: 20px;
    border: 1px solid gray;
    /* border-width: 1px;
    border-style: solid;
    border-color: gray; */
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 20px;
}

body {
    background-color: lightgray;
    font-family: 'Roboto';
}

.text-center {
    text-align: center;
}

.form-control {
    display: block;
    margin-bottom: 10px;
}

input[type=text].form-control, input[type=password].form-control, button.form-control  {
    box-sizing: border-box;
    width: 100%;
}

/* button.form-control {
    box-sizing: border-box;
    width: 100%;
} */