@{
    ViewData["Title"] = "Escuelas";
    Layout = "_Layout";
}

<h1>Información de Escuelas</h1>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Ubicación</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>UAdeO</td>
            <td>Guasave, Sin.</td>
        </tr>
    </tbody>
</table>