@{
    ViewData["Title"] = "Escuelas";
    Layout = "_Layout";
}

<h1>Información de Escuelas</h1>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Ubicación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var escuela in Model)
        {
            <tr>
                <td><a href="/Escuela/Detalle/@escuela.Id">@escuela.Nombre</a></td>
                <td>@escuela.Ubicación</td>
            </tr>
        }
    </tbody>
</table>