@model Carrera
@{
    ViewData["Title"] = "Registro de nueva carrera";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post" asp-action="Nueva">
                <div class="form-group">
                    <label asp-for="Nombre">Nombre de la carrera</label>
                    <input type="text" asp-for="Nombre" class="form-control">
                    <span asp-validation-for="Nombre"></span>
                </div>
                <div class="form-check">
                    @Html.RadioButtonFor(c => c.Plan, Plan.Trimestral) Trimestral
                </div>
                <div class="form-check">
                    @Html.RadioButtonFor(c => c.Plan, Plan.Semestral) Semestral
                </div>
                <hr>
                <button class="btn btn-primary" type="submit">Guardar</button>
                <a asp-controller="Carreras" asp-action="Index" class="btn btn-secondary">
                    Cancelar
                </a>
            </form>
        </div>
    </div>
</div>